*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: sans-serif;
}
.programacion{
    width: 500px;
    height: 600px;
    border: solid;
    border-color: black;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.programa-titulo{
    width: 300px;
    height: 7rem;

    border: 5px solid black;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;

}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.izquierda_derecha{
    background-color: #8C1F28;
    color: #fff;
    width: 15rem;
    height: 70px;
    margin: 0px 10px;
    border: solid;
    border-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
}
.visualizar{
    background-color: #591C21;
    color: #ffff;
    width: 15rem;
    height: 7rem;
    border: 5px solid #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;

}
#root{
    width: 50rem;
    height: 50rem;
    border: 6px solid black;
    display: flex;
    justify-content: center;
}
.section {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 10rem;
 
}